@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

body {
    display: flex;
    flex-direction: column;
}

/* FIRST SECTION STYLES */

.first-section {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding: 10px 250px 80px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-top: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.top-links {
    display: flex;
    gap: 20px;
}

.content-s1 {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
    padding-right: 50px;
}

.sign-up {
    background-color: #3882f6;
    padding: 14px 25px;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 10px;
}

/* SECOND SECTION STYLES */

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px 0px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 0px 330px;
    margin-bottom: 80px;
}

.info {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}

.image-description {
    text-align: center;
    font-size: 16px;
}

.item-pic {
    border: 5px #3882f6 solid;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* THIRD SECTION STYLES */

.text-box {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 290px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: justify;
}

.quotee {
    font-weight: bold;
    align-self: flex-end
}

/* FOURTH SECTION STYLES */

.blue-box {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 40px 70px;
    border-radius: 10px;
    color: white;
}

.fourth-section {
    padding: 90px 250px;
}

.cat-title {
    font-weight: bold;
}

.cat-text {
    font-size: 16px;
}

button.cat-button {
    background-color: transparent;
    color: white;
    border: 3px white solid;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    align-self: flex-end;
}